* {
    box-sizing: border-box;
}

body {
    background-color: rgb(35, 39, 44);
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin:30px auto 0 auto;
    padding: 5px;
    display: block;
    text-align: center;
    width:130px;
    height: 95px;
    color: white;
    border: white 5px solid;
    box-shadow: 5px 5px rgb(255, 255, 255);
}

#container {
    margin: 40px auto 0 auto;
    width: 650px;
    height: 650px;
    text-align:center;
    font-size: 0;
}

.white{
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: rgb(223, 223, 223);
}

.gray{
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: rgb(158, 158, 158);
}

.resetButton {
    margin:40px auto 0 auto;
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(209, 209, 209);
    color: rgb(34, 34, 34);
    border: solid 1px rgb(209, 209, 209);
    font-size: 14px;
}

.resetButton:hover {
    border: solid 2px rgb(53, 53, 53);
}